.root {
  position: "relative";
  margin-bottom: "0rem!important";
  z-index: 1;
}
.link {
  display: block !important;
  line-height: 1;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-gray-7) !important;
  font-size: var(--mantine-font-size-l);
  font-weight: 500;
  padding: 8rem !important 12rem !important;
  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }


  @media (max-width: 768px) {
    border-radius: 0;
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-1);
    color: var(--mantine-color-blue-6) !important;
  }
}

.inner {
  justify-content: space-between;
  align-items: center;
  height: "100%";
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.links {
  @media (max-width: 768px) {
    display: none !important;
  }
}
.dropdown {
  position: absolute !important;
  top: 4rem !important;
  left: 0 !important;
  right: 0 !important;
  overflow: "hidden";

  @media (min-width: 768px) {
    display: none !important;
  }
}

.burger {
  @media (min-width: 768px) {
    display: none !important;
  }
}
